
.bg-style{
  background-color: yellowgreen;
  width: 23rem;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
.selected-data{
    color: white;
    /* margin-left: 13rem; */
}
.selected-data p{
    margin-left: 5rem;
    color: black;
}

/* header section btn bg color change */
.header-btn1{
  border: 2px solid #0d879a;
  border-color: #0d879a;
  background-color: #41c4e5;

}
.header-btn2{
 background-color: #69c86d;
 border-color: #07ac15;
 border: 2px solid #07ac15;

}
.header-btn3{
  background-color: #c591c8;
  border-color: #9705a1;
  border: 2px solid #9705a1;

}
/* button */
.button {
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:.5rem
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
  }
  
  .button1:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

  /* style 1st table section */
  #table1 td{
    height:.5rem;
    
  }
  .form-select{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }
  #table-dropdown-btn{
    /* background-color: #662eed ; */
    
    max-width: 7rem;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-radius: 0px;
  }
 
td{
    text-align: center;
}

.table {
  padding-top: 1rem;
}

td, th {
  border: 1px solid #777;
  padding: 0.5rem;
  text-align: center;
}

table {
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background: #eee;
}








#dropdown-component {
  margin: 20px auto 0 auto;
  font: normal 14px sans-serif;
  width: 160px;
  position: relative;
  .selected {
    z-index: 10;
    cursor: pointer;
    margin: 0 auto;
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
    span:first-child {
      margin-right: 10px;
    }
    span:last-child {
      float: right;
      transition: transform 0.2s;
    }
  }
  .arrow-down {
    transform: rotate(90deg);
  }
  .menu-wrapper {
    overflow: hidden;
    margin-top: 3px;
    position: absolute;
    width: 100%;
    ul {
      list-style-type: none;
      width: calc(100% - 4px);
      padding: 0;
      border: 1px solid #000;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden;
      transition: transform 0.2s;
      transform: translateY(-145px);
      left: 0;
      right: 0;
      margin: 0 auto;
      li {
        overflow: hidden;
        a {
          text-decoration: none;
          background-color: lightgray;
          width: 100%;
          display: block;
          color: black;
          padding: 5px 0 5px 15px;
          box-sizing: border-box;
          transition: background-color 0.2s;
          &:hover {
            background-color: darkgray;
          }
        }
      }
    }
  }

  .show-menu {
    transform: none !important;
  }
}


