.cardTitle{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0rem;
    font-size: 14px;

}
.cardSubTitle{
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #64748b;
    font-size: 10px;
}

.card{
    border-radius: 5px;
}